# $schema: https://phpstan.olvlvl.com/schema.json
parameters:
  level: 9
  paths:
    - lib
  ignoreErrors:
    # accessors are often defined as private and may look unused.
    - message: "/::get_.+ is unused./"
    - message: "/::provide_.+ iterable type array/"
      reportUnmatched: false
